body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: interstate, sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}