* {
    box-sizing: border-box;
    /* calculate with paddings included */
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: $textFont;
    /* font-family: 'Times New Roman', Times, serif; */
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $mainOrange;
}