.primary-nav {
    &--pull-right {
        float: right;
    }

    ul {
        margin:0;
        padding: 0;
        @mixin clearfix;
    }
    ul li {
        float: left;
        list-style-type: none;
        padding: 12px 12px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}