.primary-nav {
    &--pull-right {
        float: right;
    }

    ul {
        margin:0;
        padding: 0;
        @mixin clearfix;
    }
    ul li {
        float: left;
        padding-right: 20px;
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}